.primary-button {
   max-width: rem(300);
   min-width: rem(250);
   padding: em(12) 0;
   text-align: center;
   font-size: rem(20);
   color: $black;
   background: $blue;
   border-radius: $borderRadius;
   border: 1px solid $blue;
   transition: $standartTrans;

   &:hover,
   &:focus {
      color: $white;
      background: $darkBlue;
      border: 1px solid $blue;
      box-shadow: $btnBoxShadow
   }
}