.header {
   width: 100%;
   padding: 15px 0 70px;
   background: $black;
}

.full-screen {
   display: flex;
   flex-direction: column;
   text-align: center;
   margin: 0 auto;
   background: $boxShadowBlack40;

   &__inner {
      position: relative;
      display: flex;
      flex-direction: column;
      max-width: $maxWidth;
      width: 100%;
      margin: 0 auto;
      background: linear-gradient($boxShadowBlack80, $boxShadowBlack40), url(./../images/bg.jpg);

      @include media(768) {
         flex-direction: row;
      }
   }

   &__body {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: rem(25);
      padding: 0px rem(20) rem(30);
      z-index: 2;

      @include media(768) {
         width: 50%;
      }
   }

   &__image-product {
      max-width: 100px;
      height: auto;
      object-fit: cover;

      @include media(768) {
         max-width: 150px;
      }
   }

   &__video {
      position: relative;
      width: 300px;
      height: 300px;
      align-self: center;

      @include media(768) {
         position: absolute;
         top: 0;
         right: 0;
         width: 50%;
         height: 100%;
      }
   }

   &__list {
      margin-bottom: rem(35);
      flex-direction: column;
      justify-content: space-between;
      max-width: 365px;
      gap: em(15);
   }
}