.product {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-around;
   max-width: $maxWidth;
   margin: 0 auto;
   padding-top: em(50);
   padding-bottom: em(45);
   background: linear-gradient($boxShadowBlack40, $boxShadowBlack90), url(./../images/bg.jpg);

   @include media(768) {
      flex-wrap: nowrap;
      padding-top: 100px;
   }

   &__title-block {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 20px;
      align-items: center;
      padding: 20px;
      order: 1;
      width: 100%;

      @include media(768) {
         order: 2;
         width: 30%;
      }

      & img {
         max-width: 220px;
         width: 50%;
         object-fit: cover;
      }

      & h2 {
         position: relative;

         &::after {
            position: absolute;
            content: '';
            width: 100%;
            display: block;
            left: 0;
            bottom: 0;
            height: 1px;
            background: $pink;
         }
      }
   }

   &__ingredients {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      gap: 15px;
      width: 30%;

      &:first-child {
         border-right: 1px solid;
         padding-right: 7px;
         order: 2;
         width: 48%;

         @include media(768) {
            flex-wrap: nowrap;
            order: 1;
         }
      }

      &:last-child {
         border-left: 1px solid;
         padding-left: 7px;
         order: 3;
         width: 48%;

         @include media(768) {
            order: 3;
         }
      }
   }

   &__ingredient {
      display: flex;
      flex-direction: column;
      gap: 7px;
      align-items: center;
      padding-top: 25px;
      text-align: center;
      max-width: 400px;

      & img {
         width: 100px;
         height: 100px;
         object-fit: contain;
         border: 2px solid $darkBlue;
         border-radius: 50%;
         background: $white;
      }
   }
}