.reviews {
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   max-width: $maxWidth;
   min-width: 0;
   margin: 0 auto;
   padding-top: 50px;
   padding-bottom: 45px;
   background: linear-gradient($boxShadowBlack90, $boxShadowBlack60), url(./../images/bg.jpg);
}