@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url("../fonts/Geometria-Bold.woff2") format("woff2"), url("../fonts/Geometria-Bold.woff") format("woff");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url("../fonts/Geometria-ExtraBold.woff2") format("woff2"), url("../fonts/Geometria-ExtraBold.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url("../fonts/Geometria-Medium.woff2") format("woff2"), url("../fonts/Geometria-Medium.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url("../fonts/Geometria.woff2") format("woff2"), url("../fonts/Geometria.woff") format("woff");
	font-weight: undefined;
	font-style: normal;
}
@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url("../fonts/Geometria-Heavy.woff2") format("woff2"), url("../fonts/Geometria-Heavy.woff") format("woff");
	font-weight: 800;
	font-style: normal;
}
@font-face {
	font-family: Geometria;
	font-display: swap;
	src: url("../fonts/Geometria-Light.woff2") format("woff2"), url("../fonts/Geometria-Light.woff") format("woff");
	font-weight: 300;
	font-style: normal;
}
